<table class="table">
	<tbody>
		<tr>
			<th>{{ review.pseudo }}</th>
			<th>{{ review.submitdate|date('d/m/Y') }}</th>
		</tr>
		<tr>
			<th>Note</th>
			<td>{{ review.userrating }}</td>
		</tr>
		<tr>
			<th>Commentaire</th>
			<td>{{ review.comment }}</td>
		</tr>
		{% if not review.picture %}
			{# Display nothing if there is no picture for this review #}
		{% else %}
			<tr>
				<th>Image</th>
				{# Linking the src to the dynamic URL of the stored image #}
				<td><img src="{{ asset('uploads/' ~ review.picture) }}" alt='Image envoyée par un utilisateur' class='user-img' width="200px" max-height="100%"></td>
			</tr>
		{% endif %}
	</tbody>
</table>
