{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<h1>Produit</h1>

	{% if not product.picture %}
		{# Display nothing if there is no picture for this product #}
	{% else %}
		<img src="{{ asset('build/"{{ product.picture }}"') }}" alt="{{ product.name }}" width="300" height="100%">
	{% endif %}

	<table class="table">
		<tbody>
			<tr>
				<th>Nom</th>
				<td>{{ product.name }}</td>
			</tr>
			<tr>
				<th>Note moyenne</th>
				<td>{{ product.rating }}</td>
			</tr>
		</tbody>
	</table>

	<h2>Liste des avis</h2>
	<p>Trier par date :
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'submitDate', 'order': 'DESC' }) }}">
			Les plus récents
		</a>
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'submitDate', 'order': 'ASC' }) }}">
			Les plus anciens
		</a>
	</p>


	<p>Trier par note :
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'user_rating', 'order': 'DESC' }) }}">
			Les meilleures
		</a>
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'user_rating', 'order': 'ASC' }) }}">
			Les moins bonnes
		</a>
	</p>

	{% set sort = 'ratingAsc' %}

	<p>Afficher seulement les notes :
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 1 }) }}">1</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 2 }) }}">2</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 3 }) }}">3</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 4 }) }}">4</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 5 }) }}">5</a>
	</p>

	{% for review in reviews %}
		{{ include('product/_reviewTable.html.twig') }}

	{% else %}
		<p>Il n'existe pas encore d'avis sur ce produit. Donnez le vôtre !</p>
	{% endfor %}


	<a href="{{ path('review_new', { 'product_id' : product.id }) }}">Noter le produit</a>

	<a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
