{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/style/style.css">
{% endblock %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}
	<div class="header">
		<div class="name-logo">
			<h1>{{ product.name }}</h1>

			{% if not product.picture %}
				{# Display nothing if there is no picture for this product #}
			{% else %}
				<img src="{{ asset('assets/images/' ~ product.picture) }}" alt="{{ product.name }}" id="productPicture">
			{% endif %}
		</div>

		<div id="headerRating">
			<h4>Note moyenne</h4>
			<p>{{ product.rating|round(1) }}</p>
		</div>
	</div>

	<h2>Liste des avis</h2>

	<p class="sortBy">Trier par :
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'submitDate', 'order': 'DESC' }) }}" class="sortBy1">
			Les plus récents
		</a>
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'submitDate', 'order': 'ASC' }) }}" class="sortBy1">
			Les plus anciens
		</a>
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'user_rating', 'order': 'DESC' }) }}" class="sortBy1">
			Les plus favorables
		</a>
		<a href="{{ path('product_sort_by_order', { 'id': product.id, 'sort' : 'user_rating', 'order': 'ASC' }) }}" class="sortBy1">
			Les moins favorables
		</a>
	</p>

	<p class="sortBy">Afficher seulement les notes :
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 1 }) }}">1</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 2 }) }}">2</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 3 }) }}">3</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 4 }) }}">4</a>
		<a href="{{ path('product_show_by_rating', { 'id': product.id, 'rating' : 5 }) }}">5</a>
	</p>

	<h3>
		<a href="{{ path('review_new', { 'product_id' : product.id }) }}">Noter le produit</a>
	</h3>

	<div id="reviewSection">
		{% for review in reviews %}
			{{ include('product/_reviewTable.html.twig') }}
		{% else %}
			<p>Il n'existe pas encore d'avis sur ce produit. Donnez le vôtre !</p>
		{% endfor %}
	</div>

	<a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
